* {
  font-family: "Roboto", sans-serif;
}
:root {
  color: black;
}
.flexbox-container {
  display: flex;
  flex-direction: column;
}

.flex-container1 {
  width: 100%;
  margin: 10px;
  /* Xoa khucs nay */
  border: 3px solid #333;
  background-color: #dfdfdf;
}

.flex-container-header {
  width: 1775px;
  height: 930px;
  background-image: url("./media/image/background-header.png");
  background-repeat: no-repeat;
  background-size: 1775.77px 930px;
  display: flex;
  flex-direction: row;
  margin-bottom: 115px;
  justify-content: space-around;
}
/* tao anh bg */
/* #header-bg {
  background-image: url("./media/80b7ece24a3d47292461f8e199ffdd36.jpeg"); */
/* width: 100%;
  height: 930px;
  z-index: 0; */
.header-navbar {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 28px;
  color: white;
}
.navbar-lists {
  /* padding-left: 100px; */
  /* padding-top: 67px; */
  padding-left: 100px;
  list-style-type: none;
  font-weight: 400;
  gap: 30px;
  display: flex;
  flex-direction: row;
}

.navbar-item {
  padding: 10px;
}
#logo-figma {
  width: 186px;
  height: 58px;
}
.navbar-social-logo {
  display: flex;
  flex-direction: row;
  gap: 24px;
  list-style-type: none;
}

.logo-item {
  width: 41px;
  height: 41px;
}

#feature-section {
  width: 1777px;
  height: 1361px;
}
.feature {
  display: block;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 17px;
  margin-top: 0px;
}

.feature-desc {
  text-align: center;
  margin-top: 7px;
  font-weight: 400;
  font-size: 28px;
  font-style: normal;
  margin-bottom: 90px;
}
.container-feature-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 456px;
  padding-right: 456px;
  gap: 52px;
}
div h4 {
  margin: 10px;
}

#feature1 {
  width: 255px;
  height: 257px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-center {
  text-align: center;
}

.feature-logo {
  width: 61px;
  height: 61px;
}
.feature-title {
  margin: top 10px bottom 5px;
  font-size: 20px;
  font-weight: 700;
}
h3 p {
  margin: 5px;
}
.feature-detail {
  /* margin-top: 10px; */
  width: 251px;
  height: 100px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}

.screen-section {
  width: 1177px;
  height: 762px;
}
.screen {
  width: 1177px;
  height: 658px;
  padding: 52px 0 52px 0;
}
/* #triangle1 {
  padding-top: 660px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 1300px solid transparent;
  border-bottom: 245px solid white;
} */
/* #triangle2 {
  justify-content: center;
  padding-top: 660px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 1300px solid transparent;
  border-bottom: 245px solid white;
} */

.flex-container-body {
  min-height: 600px;
  align-self: flex-end;
}
.flex-container-footer {
  min-height: 100px;
  align-self: flex-start;
}
