* {
  font-family: "Roboto", sans-serif;
}
:root {
  color: black;
}

/* position */
.center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.space-around-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
/* .middle-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */
.space-between-center-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.left-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.middle-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.right-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.left-center-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
/* Font Style */
.font-h1 {
  font-size: 74px;
  font-weight: 700px;
  line-height: 84px;
  letter-spacing: 0.2px;
  margin: 0;
}
.font-h2 {
  font-size: 48px;
  font-weight: 400px;
  line-height: 55px;
  letter-spacing: 0.2px;
}
.font-h3 {
  font-size: 20px;
  font-weight: 700px;
  line-height: 28px;
  letter-spacing: 0.1px;
  padding: 3px 0;
  margin: 0;
}
.font-h4 {
  font-size: 28px;
  font-weight: 400px;
  line-height: 40px;
  letter-spacing: 0.2px;
  margin: 10px 0px 10px 0px;
}
.font-h6 {
  font-size: 16px;
  font-weight: 400px;
  line-height: 23px;
  letter-spacing: 0.1px;
  margin: 0;
}
.font-text {
  font-size: 15px;
  font-weight: 400px;
  line-height: 28px;
  letter-spacing: 0.2px;
  margin: 0;
  padding: 10px;
}

/* logos */

/* container */
.flexbox-container {
  display: flex;
  flex-direction: column;
}

/* Body */
.flex-container1 {
  width: 100%;
  margin: 10px;
  /* Xoa khucs nay */
  border: 3px solid #333;
  background-color: #dfdfdf;
}
/* header section */
.flex-container-header {
  width: 1775px;
  height: 930px;
  background-image: url("./media/image/background-header.png");
  background-repeat: no-repeat;
  background-size: 1775.77px 930px;
  display: flex;
}
/* header navbar */
.header-navbar {
  width: 1210px;
  height: 156px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-lists {
  /* padding-left: 100px; */
  /* padding-top: 67px; */
  margin-left: 40px;
  list-style-type: none;
  gap: 21px;
  display: flex;
  flex-direction: row;
}

.navbar-item {
  padding: 10px;
  color: #ffffff;
}
#logo-figma-section {
  width: 246px;
  height: 78px;
  margin-left: 25.5px;
  padding: 0 20px;
}
#logo-figma {
  width: 206px;
  height: 78px;
}

.logo-item {
  width: 41px;
  height: 41px;
}

#header-social-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 270.54px;
}

/* header hero section */
#header-hero-section {
  color: #ffffff;
  width: 1440px;
  min-height: 885px;
  margin-bottom: 80px;
}
#hero-content {
  width: 826px;
  height: 335px;
  margin-top: 150px;
}
#hero-content-h1 {
  padding: 10px;
  margin: 0 47px 7px 47px;
}
#hero-content-h4 {
  padding: 10px;
  margin: 7px 8px 20px 8px;
}
#hero-button {
  width: 247px;
  height: 92px;
  margin: 120px 0 40px 0;
}
#try-button {
  width: 236px;
  height: 52px;
}
#hero-padding-section {
  width: 1437px;
  height: 218px;
  margin-top: 80px;
  margin-bottom: 35px;
}

/* body section */
#body-section {
  width: 1777px;
  height: 1361px;
}
.feature {
  display: block;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 17px;
  margin-top: 0px;
}

.feature-desc {
  text-align: center;
  margin-top: 7px;
  font-weight: 400;
  font-size: 28px;
  font-style: normal;
  margin-bottom: 90px;
}
.container-feature-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 456px;
  padding-right: 456px;
  gap: 52px;
}
div h4 {
  margin: 10px;
}

#feature1 {
  width: 255px;
  height: 257px;
}

.feature-logo {
  width: 61px;
  height: 61px;
}
.feature-title {
  margin: top 10px bottom 5px;
  font-size: 20px;
  font-weight: 700;
}
h3 p {
  margin: 5px;
}
.feature-detail {
  /* margin-top: 10px; */
  width: 251px;
  height: 100px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}

.screen-section {
  width: 1177px;
  height: 762px;
}
.screen {
  width: 1177px;
  height: 658px;
  padding: 0 0 52px 0;
}
/*section-2 */
.body-section-2 {
  width: 1777px;
  height: 924px;
  padding: 226px 82px 226px 82px;
}
.section-2-desc {
  width: 532px;
  height: 357px;
}
#try-logo {
  width: 236px;
  height: 60px;
}
#mac-image {
  width: 661px;
  height: 386px;
}
.section-2-desc {
  margin-right: 50px;
  margin-left: 226px;
}
.section-2-image {
  margin-right: 226px;
}
#section-2-desc-button {
  margin-top: 60px;
}
#section-2-desc-h2 {
  margin-bottom: 20px;
}

/* Section-3 */
.body-section-3 {
  width: 1440px;
  height: 725px;
  margin: 0 168px 0 0;
}
#screen-content-logo {
  width: 854px;
  height: 532px;
}
.section-3-image {
  margin-right: 50px;
  margin-top: 106px;
  margin-left: 50px;
}
.section-3-desc {
  width: 544px;
  height: 500px;
  padding: 0 0 0 63px;
  margin: 69px 50px 69px 0;
}
#section-3-desc-h3 {
  margin-top: 106px;
  padding: 15px 0 0 0;
}
#section-3-desc-subscribe {
  width: 477px;
  height: 199px;
}
#subscribe-section {
  width: 477px;
  height: 199px;
}

/* Section 4 */
#body-section-4 {
  width: 1440px;
  min-height: 932px;
  margin: 0 168.5px 0 168.5px;
}
#section-4-texts {
  width: 552px;
  height: 222px;
  margin: 80px 444px 80px 444px;
}
#section-4-h2 {
  margin: 33px 0 7px 0;
}
#section-4-h4 {
  margin-bottom: 0px;
}
#section-4-images {
  margin: 0 182.5px 80px 182.5px;
}
#companies-logos {
  width: 1075px;
  height: 330px;
}
#section-4-button {
  margin: 0 602px 80px 602px;
}
#try-button {
  width: 236px;
  height: 60px;
}

/* Section 5 */
#body-section-5 {
  width: 1439px;
  height: 811px;
  margin: 0 169px 0 169px;
  padding: 100px 0 100px 0;
}
#section-5-text {
  margin-top: 100px;
  padding: 0;
}
#section-5-h2 {
  margin: 0;
}
#section-5-items {
  width: 987px;
  height: 315px;
  margin: 80px 0 80px 0;
}
#ibm-logo {
  width: 149.85px;
  height: 60px;
}
#item-h4 {
  padding: 10px;
  margin: 60px 0 60px 0;
}
#client-logo {
  width: 186px;
  height: 55px;
}
#big-button {
  width: 276px;
  height: 60px;
}

/* Section 6 */
#body-section-6 {
  background-color: #252b42;
  color: white;
  width: 1777px;
  height: 1155px;
  padding: 100px 0 100px 0;
}

#section-6-texts {
  width: 552px;
  height: 182px;
  margin-bottom: 80px;
}
#section-6-h2 {
  padding: 10px;
  margin: 0 0 7px 0;
}

#section-6-items {
  width: 1036px;
  height: 693px;
}
.box-white {
  color: black;
  box-sizing: border-box;
  width: 335px;
  height: 607px;
  background-color: #ffffff;
  border: solid 1px #dedede;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  gap: 30px;
}
.box-blue {
  width: 266px;
  height: 693px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #2091f9;
  border: 1px #dedede solid;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 83px 40px 83px 40px;
  margin: 0 50px;
  gap: 30px;
}
.box-head {
  width: 148px;
  min-height: 80px;
}
.box-row {
  width: 153px;
  min-height: 61px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  order: 0;
}
.box-row-block {
  box-sizing: content-box;
  min-width: 78px;
  height: 51px;
  order: 1;
  align-self: center;
}
.box-row-block {
  display: flex;
  flex-direction: column;
}
.box-list {
  width: 255px;
  min-height: 240px;
}
.order-button-blue {
  width: 255px;
  height: 56px;
}
.order-button-white {
  width: 186px;
  height: 56px;
}

/* Section 7 */
#body-section-7 {
  width: 1440px;
  min-height: 1206px;
  margin: 0 168.5px 0 168.5px;
  padding: 52px 0;
}
#section-7-texts {
  width: 552px;
  height: 182px;
  margin-top: 100px;
  padding: 50px 0 50px 0;
}
#section-7-rows {
  margin: 50px 0 50px 0;
  width: 1228px;
  height: 669px;
  display: flex;
  flex-direction: row;
}

/* section 7 column 1 */
#column-1 {
  width: 453px;
  height: 669px;
}
#sign-up-form {
  box-sizing: border-box;
  width: 453px;
  height: 669px;
  border: 1px solid #dddddd;
  /* SHADOW */
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding: 52px 50px 52px 50px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.input-field {
  box-sizing: border-box;
  width: 353px;
  height: 47px;
  border: 1px solid #e8e8e8;
  border-radius: 39px;
  background: #f5f5f5;
  padding: 0 20px;
}
#input-message-section {
  box-sizing: border-box;
  width: 353px;
  height: 193px;
  border: 1px solid #e8e8e8;
  background-color: #f5f5f5;
  padding: 23px 20px;
}
#send-button {
  width: 145px;
  height: 56px;
}

/* section 7 column 2 */
#column-2 {
  width: 725px;
  height: 612.17px;
  margin: 28px 0 28px 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.col-2-items {
  min-width: 725px;
  min-height: 108px;
  margin-bottom: 50px;
  order: 0;
}
#col-2-item-left {
  order: 0;
  justify-self: flex-start;
  min-width: 313px;
  min-height: 108px;
}
#col-2-item-middle {
  order: 1;
  justify-self: middle;
  align-self: middle;
  min-width: 137px;
  min-height: 87px;
  margin: 0 15px;
}
#col-2-item-right {
  box-sizing: border-box;
  order: 2;
  justify-self: flex-end;
  align-self: center;
  min-width: 245px;
  height: 75px;
}
.col-2-item-text {
  padding: 10px;
  gap: 10px;
}
/* col-2-logo */
#col-2-left-logo {
  width: 26px;
  height: auto;
}
#col-2-middle-logo {
  width: 21px;
  height: 34px;
}
#col-2-right-logo {
  width: 27px;
  height: 22px;
}
/* section-7-map */
.col-2-map {
  min-width: 516px;
  height: auto;
  margin: 0 104.5px 0 104.5px;
  order: 1;
}
#map {
  width: 516px;
  height: 323.2px;
}
.col-2-social {
  min-width: 191px;
  height: 61px;
  order: 2;
  justify-self: flex-end;
  align-self: flex-start;
  padding: 10px;
  gap: 10px;
}

/* section footer */
#section-footer {
  min-width: 1777px;
  min-height: 567px;
  background-color: #252b42;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 150px 0 150px 0;
}
.footer-container {
  width: 991px;
  min-height: 267px;
  display: flex;
  flex: row;
  justify-content: space-between;
}
#footer-part1 {
  width: 582px;
  height: 290px;
  margin-right: 125px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}
.footer-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}
.footer-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#footer-part2 {
  width: 284px;
  height: 193.99px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#footer-address {
  margin-bottom: 20px;
}
.footer-logo {
  width: 46px;
  height: 46px;
}
#footer-phone {
  margin-bottom: 20px;
}

.social-logos-container {
  width: 170px;
  height: 81px;
}
